


@*Mes en curso: <b>@ViewData["MesActual"]</b>
Feriados: <b>@ViewData["Feriados"]</b>
Laborales: <b>@ViewData["Laborales"]</b>
Horas Mes: <b>@ViewData["Horas"]</b>*@

@*<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Mes en curso: <b>@ViewData["MesActual"]</b></div>
    <div class="card-body">
        <p class="card-text">Feriados: <b>@ViewData["Feriados"]</b></p>
        <p class="card-text">Laborales: <b>@ViewData["Laborales"]</b></p>
        <p class="card-text">Horas Mes: <b>@ViewData["Horas"]</b></p>
    </div>
</div>*@